<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/add.css">
</head>
<body>
	<div class="c_top">
		<h3><a href="">ECSHOP 管理中心</a> - 添加新商品</h3>
		<a href=""><img src="../images/jnsy.png"></a>
		<p class="add_btn">+ 添加新商品</p>
	</div>
	<div class="main">
		<ul class="class_tit">
			<li class="first">通用信息</li>
			<li>详细描述</li>
			<li>其他信息</li>
			<li>商品属性</li>
			<li>商品相册</li>
			<li>关联商品</li>
			<li>配件</li>
			<li>关联文章</li>
		</ul>
		<div class="edit">
			<ul class="common">
				<li>
					<div class="left"><label>商品名称：</label></div>
					<div class="right"><input type="text" name=""></div>
				</li>
				<li>
					<div class="left">
						<label>商品货号：</label><img src="../images/notice.gif">
					</div>
					<div class="right">
						<input type="text" name="">
						<p>如果您不输入商品货号，系统将自动生成一个唯一的货号。</p>
					</div>
				</li>
				<li>
					<div class="left"><label>商品分类：</label></div>
					<div class="right">
						<select><option>请选择...</option></select>
						<button>添加分类</button>
					</div>
				</li>
				<li>
					<div class="left"><label>扩展分类：</label></div>
					<div class="right">
						<button>添加</button>
					</div>
				</li>
				<li>
					<div class="left"><label>商品品牌：</label></div>
					<div class="right">
						<select><option>请选择...</option></select>
						<button>添加品牌</button>
					</div>
				</li>
				<li>
					<div class="left"><label>本店售价：</label></div>
					<div class="right">
						<input type="text" name="" value="0">
						<button>按市场价计算</button>
					</div>
				</li>
				<li>
					<div class="left"><label>虚拟销量：</label></div>
					<div class="right"><input type="text" name=""></div>
				</li>
			</ul>
			<ul>相关功能正在开发中，敬请期待。。。</ul>
			<ul class="other">
				<li>
					<div class="left"><label>加入推荐：</label></div>
					<div class="right">
						<input type="checkbox" name=""> 精品
						<input type="checkbox" name=""> 新品
						<input type="checkbox" name=""> 热销
					</div>
				</li>
			</ul>
			<ul>相关功能正在开发中，敬请期待。。。</ul>
			<ul>相关功能正在开发中，敬请期待。。。</ul>
			<ul>相关功能正在开发中，敬请期待。。。</ul>
			<ul>相关功能正在开发中，敬请期待。。。</ul>
			<ul>相关功能正在开发中，敬请期待。。。</ul>
			<div><div class="btns"><button class="submit">确定</button><button class="reset">重置</button></div></div>
		</div>
	</div>
	<div class="fotter">
		<p>共执行 7 个查询，用时 0.022856 秒，Gzip 已禁用，内存占用 3.564 MB</p>
		<p>版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。</p>
	</div>
</body>
<script type="text/javascript" src="../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../javascripts/add.js"></script>
</html>