<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../stylesheets/contents.css">
	<title>Document</title>
</head>
<body>
	<div class="c_top">
		<h3><a href="">ECSHOP 管理中心</a> - 商品列表</h3>
		<a href=""><img src="../images/jnsy.png"></a>
		<p class="add_btn">+ 添加新商品</p>
	</div>
	<div class="search">
		<img src="../images/icon_search.gif"><span class="null"></span>
		<select class="sel1">
			<option>所有分类</option>
			<option>内衣</option>
			<option>家居服</option>
		</select>
		<select class="sel2">
			<option>所有品牌</option>
			<option>内衣</option>
			<option>家居服</option>
		</select>
		<select class="sel3">
			<option>全部</option>
			<option>内衣</option>
			<option>家居服</option>
		</select>
		<select class="sel4">
			<option>全部</option>
			<option>内衣</option>
			<option>家居服</option>
		</select>
		<span>关键字</span>
		<input type="text" name="">
		<button>搜索</button>
	</div>
	<table>
		<thead>
			<tr>
				<th><input type="checkbox" name="">  编号<img src="../images/sort_desc.gif"></th>
				<th>商品名称</th>
				<th>货号</th>
				<th>价格</th>
				<th>上架</th>
				<th>精品</th>
				<th>新品</th>
				<th>热销</th>
				<th>推荐排序</th>
				<th>库存</th>
				<th>虚拟销量</th>
				<th>操作</th>
			</tr>
		</thead>
		<tr class="xinxi">
			<td class="goods_id"><input type="checkbox"><span></span></td>
			<td class="goods_name"></td>
			<td class="goods_num"></td>
			<td class="goods_price"></td>
			<td class="shangjia"></td>
			<td class="jingpin"></td>
			<td class="xinpin"></td>
			<td class="rexiao"></td>
			<td class="paixu">100</td>
			<td class="goods_stock"></td>
			<td class="goods_sales"></td>
			<td>
				<img src="../images/icon_view.gif">
				<img src="../images/icon_edit.gif">
				<img src="../images/icon_copy.gif">
				<img class="del" src="../images/icon_trash.gif">
			</td>
		</tr>
	</table>
	<div class="page_div">
		<div class="page">
			总计 <span class="num"></span> 个记录
			分为 <span class="pages"></span> 页
			当前第 <span class="now_page"></span> 页
			每页 <input type="text" name="" value="15">
			<span>第一页</span>
			<span>上一页</span>
			<span>下一页</span>
			<span>最末页</span>
			<select>1</select>
		</div>
	</div>
	<div class="fil">
		<select>
			<option>请选择...</option>
		</select>
		<button>确定</button>
	</div>
	<div class="fotter">
		<p>共执行 7 个查询，用时 0.022856 秒，Gzip 已禁用，内存占用 3.564 MB</p>
		<p>版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。</p>
	</div>
</body>
<script type="text/javascript" src="../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../javascripts/contents.js"></script>
</html>