<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/myindex.css">
</head>
<body>
	<div class="top">
		<div class="top_nav">
			<img src="../images/topLogo.png" class="logo">
			<ul class="nav1">
				<li class="first">
					<img src="../images/topmune_09.png">
					<p>更多模板堂产品</p>
				</li>
				<li>
					<img src="../images/topmune_01.png">
					<p>开店向导</p>
				</li>
				<li>
					<img src="../images/topmune_02.png">
					<p>记事本</p>
				</li>
				<li>
					<img src="../images/topmune_03.png">
					<p>刷新</p>
				</li>
				<li>
					<img src="../images/topmune_04.png">
					<p>个人设置</p>
				</li>
				<li>
					<img src="../images/topmune_05.png">
					<p>管理员留言</p>
				</li>
				<li>
					<img src="../images/topmune_06.png">
					<p>查看网店</p>
				</li>
				<li>
					<img src="../images/topmune_007.png">
					<p>帮助</p>
				</li>
				<li>
					<img src="../images/topmune_07.png">
					<p>关于 ECSHOP</p>
				</li>
				<li>
					<img src="../images/qingchu.png">
					<p>清除缓存</p>
				</li>
				<li>
					<img src="../images/topmune_08.png">
					<p>退出</p>
				</li>
			</ul>
		</div>
		<div class="nav2">
			<ul class="menu1">
				<li><img src="../images/index-11_07.png">起始页</li>
				<span class="span1"></span>
				<li><img src="../images/index-11_41.png">设置导航栏</li>
				<span class="span1"></span>
				<li><img src="../images/index-11_09.png">商品管理<span class="num">2</span></li>
				<span class="span1"></span>
				<li><img src="../images/dd.png">订单管理<span class="num">0</span></li>
				<span class="span1"></span>
				<li><img src="../images/index-11_13.png">广告管理<span class="num">0</span></li>
				<span class="span1"></span>
				<li><img src="../images/index-11_19.png">用户评论<span class="num">0</span></li>
				<span class="span1"></span>
			</ul>
			<ul class="menu2">
				<li>用户评论</li>
				<li>商品列表</li>
				<li>会员列表</li>
				<li>商店设置</li>
				<li>移动版</li>
				<li>服务市场</li>
				<li>商品回收站</li>
			</ul>
		</div>
	</div>
	<div>
		<div class="list">
			<div class="bef">
				<div class="tit">导航菜单</div>
				<ul class="list1">
					<li class="li1">商品管理</li>
					<ul class="li1_list list2">
						<li class="first goods_list">商品列表</li>
						<li class="add_new">添加新商品</li>
						<li>商品列表</li>
						<li>添加新商品</li>
						<li>商品分类</li>
						<li>用户评论</li>
						<li>商品品牌</li>
						<li>商品类型</li>
						<li>商品回收站</li>
						<li>图片批量处理</li>
						<li>商品批量上传</li>
						<li>商品批量导出</li>
						<li>商品批量修改</li>
						<li>生成商品代码</li>
						<li>标签管理</li>
						<li>虚拟商品列表</li>
						<li>添加虚拟商品</li>
						<li>更改加密串</li>
						<li>商品自动上下架</li>
					</ul>
					<li class="li2">促销管理</li>
					<ul class="li1_list list2">
						<li class="first">商品列表</li>
						<li>添加新商品</li>
						<li>商品列表</li>
						<li>添加新商品</li>
						<li>商品列表</li>
						<li>添加新商品</li>
						<li>商品列表</li>
						<li>添加新商品</li>
						<li>商品列表</li>
						<li>添加新商品</li>
						<li>商品列表</li>
						<li>添加新商品</li>
						<li>商品列表</li>
						<li>添加新商品</li>
						<li>商品列表</li>
						<li>添加新商品</li>
						<li>商品列表</li>
					</ul>
					<li class="li3">订单管理</li>
					<li class="li4">广告管理</li>
					<li class="li5">报表统计</li>
					<li class="li6">文章管理</li>
					<li class="li7">会员管理</li>
					<li class="li8">权限管理</li>
					<li class="li9">系统设置</li>
					<li class="li10">模板管理</li>
					<li class="li11">数据库管理</li>
					<li class="li12">短信管理</li>
					<li class="li13">推荐管理</li>
					<li class="li14">邮件群发管理</li>
					<li class="li15">移动版管理</li>
					<li class="li16">模板堂知识库</li>
				</ul>
			</div>
			<!-- 收缩后的div -->
			<div class="aft">
			</div>
		</div>
		<div class="left_btn">
			<div class="btn"></div>
		</div>
		<div class="contents"></div>
	</div>
</body>
<script type="text/javascript" src="../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../javascripts/myindex.js"></script>
</html>