*{
	margin: 0;
	padding: 0
}
li{
	list-style: none;
}
img{
	display: block;
}
a{
	text-decoration: none;
}
body{
	font-size: 12px;
	overflow: hidden;
}
.top{
	height: 118px;
	background: #303030;
	color: #fff;
	overflow: hidden;
	position: relative;
}
.top .top_nav{
	overflow: hidden;
}
.top .logo{
	float: left;
	margin: 20px 0 0 30px;
}
.top .nav1{
	position: absolute;
	right: 0;
}
.top .nav1 li{
	float: left;
	width: 82px;
	height: 78px;
	text-align: center;
}
.top .nav1 li.first{
	color: #f2ff00;
	width: 102px;
}
.top .nav1 li:hover{
	background: #404040;
	cursor: pointer;
}
.top .nav1 li img{
	height: 36px;
	margin: 0 auto;
	margin-bottom: 6px;
	margin-top: 8px;
}
.top .nav2{
	height: 40px;
	background: #575757;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.top .nav2 .menu1{
	float: left;
	margin-left: 30px;
}
.top .nav2 .menu1 li{
	float: left;
	padding: 0 12px;
	line-height: 40px;
}
.top .nav2 .menu1 li img{
	float: left;
	margin: 11px 10px 0 0;
}
.top .nav2 .menu1 .span1{
	border-left: 1px solid #303030;
	border-right: 1px solid #656565; 
	display: inline-block;
	float: left;
	height: 12px;
	margin-top: 14px;
}
.top .nav2 .menu1 .num{
	display: block;
	background: #ff3f3f;
	width: 32px;
	height: 16px;
	margin: 12px 0 0 10px;
	border-radius: 8px;
	float: right;
	text-align: center;
	line-height: 16px;
}
.top .nav2 .menu2{
	float: left;
}
.top .nav2 .menu2 li{
	float: left;
	padding: 0 10px;
	line-height: 40px;
}
.top .nav2 .menu1 li:hover,.top .nav2 .menu2 li:hover{
	background: #454545;
	cursor: pointer;
}
.list{
	width: 180px;
	float: left;
	height: 100px;
	overflow-y: scroll;
	overflow-x: hidden;
	color: #fff;
}
.list .tit{
	height: 34px;
	background: #303030;
	line-height: 34px;
	font-size: 14px;
	padding-left: 28px;
	cursor: pointer;
}
.list .list1 li{
	line-height: 42px;
	border-top: 1px solid #7f7f7f;
	padding-left: 40px;
}
.list .list1 li.li1{
	background: #575757 url(../images/menu_1.png) no-repeat 10px;
}
.list .list1 li.li2{
	background: #575757 url(../images/menu_2.png) no-repeat 10px;
}
.list .list1 li.li3{
	background: #575757 url(../images/menu_3.png) no-repeat 10px;
}
.list .list1 li.li4{
	background: #575757 url(../images/menu_4.png) no-repeat 10px;
}
.list .list1 li.li5{
	background: #575757 url(../images/menu_5.png) no-repeat 10px;
}
.list .list1 li.li6{
	background: #575757 url(../images/menu_6.png) no-repeat 10px;
}
.list .list1 li.li7{
	background: #575757 url(../images/menu_7.png) no-repeat 10px;
}
.list .list1 li.li8{
	background: #575757 url(../images/menu_8.png) no-repeat 10px;
}
.list .list1 li.li9{
	background: #575757 url(../images/menu_9.png) no-repeat 10px;
}
.list .list1 li.li10{
	background: #575757 url(../images/menu_10.png) no-repeat 10px;
}
.list .list1 li.li11{
	background: #575757 url(../images/menu_11.png) no-repeat 10px;
}
.list .list1 li.li12{
	background: #575757 url(../images/menu_12.png) no-repeat 10px;
}
.list .list1 li.li13{
	background: #575757 url(../images/menu_13.png) no-repeat 10px;
}
.list .list1 li.li14{
	background: #575757 url(../images/menu_14.png) no-repeat 10px;
}
.list .list1 li.li15{
	background: #575757 url(../images/menu_15.png) no-repeat 10px;
}
.list .list1 li.li16{
	background: #575757 url(../images/menu_1.png) no-repeat 10px;
}
.list .list1 li:hover{
	background-color: #454545;
	cursor: pointer;
}
.list .list2{
	display: none;
}
.list .list2 li{
	line-height: 30px;
	background: #575757;
	border: none;
	color: #d7d7d7;
}
.list .list2 li:hover{
	background: #797979;
	color: #fff;
}
.list .list2 li.first{
	background: #797979;
	color: #fff;
}
.contents{
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
/*	background: yellow;*/
}
.left_btn{
	width: 10px;
	height: 100%;
	background: #303030;
	position: relative;
	float: left;
}
.left_btn .btn{
	height: 30px;
	width: 10px;
	background: url("../images/arrow_right.gif") no-repeat;
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.list .aft{
	width: 36px;
	height: 100%;
	background: url("../images/show_icon.gif");
	display: none;
	cursor: pointer;
}